#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #4d4d4d;;
    margin:auto;
}

#preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview img {
    max-width: 400px;
    /*max-height: 500px;*/
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#recipeImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#recipeImage img {
    max-width: 100%;
    max-height: 500px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

#save-btn {
    margin-top: 10px;
}

b-navbar {
     position: sticky;
}

.button {
    width: 200px;
    margin: auto;
    align: center;
    color: #333;
    margin-left: 10px;
    border-radius: 4px;
}

.col-md-6 {
    float: left;
    display: inline;
    max-width: 50vw;
    margin: 0;
}

.container{
    margin-top:45px;
}

.create-user-btn{
    margin-top:-10px;
}

.cupcake{
    height: 300px;
    bottom:0;
    right:0;
    float: right;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
}

.error{
    color:#FF9494;
    font-size: 18px;
}

.footer{
    margin-bottom:20px;
}

.list row {
    margin: auto;
}

.login {
    margin: auto;
    width: 90%;
    max-width:400px;
    align: center;
    color: #333
}

.moveInUp-enter-active {
    animation: fadeIn 2s ease-in;
}

.moveInUp-leave-active {
    animation: moveInUp .3s ease-in;
}

.nav-item {
    text-align: left;
}

.recipes {
    max-width: 70vw;

}

.register-form{
    margin:auto;
    width: 50%;
    align:center;
    min-width:300px
}

.search-wrapper {
    position: relative;
}

.sidemenu

.submitform {
    margin: auto;
    width: 80%;
    align: center;
}

.wrapper {
    display: flex;
    max-width: 444px;
    flex-wrap: wrap;
    padding-top: 12px;
}

div#search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

img {
     max-width: 80vw;
 }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveInUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-400px);
    }
}

li {
    list-style: none;
}
